@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bar-height-var: 0px !important;
    --bar-hover-content: "0%";
}

.active {
    position: relative;
}

.active::after,
active::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -.75rem;
    left: 42%;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid #e3eef9;
}

.bar-height {
    height: var(--bar-height-var);
    position: relative;
}

.bar-height:hover::before {
    content: var(--bar-hover-content);
    position: absolute;
    bottom: -1.5rem;
    left: 55%;
    transform: translate(-50%, -50%);
}