@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    position: relative;
}

.active::after,
active::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -.75rem;
    left: 42%;
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid #e3eef9;
}